h1 {
   font-family: "Arial Black", Gadget, sans-serif;
   color: white;
   padding: 15px;
}

header {
   background-color: #c0392b;
   padding: 0px;
   position:fixed;
   top: 0;
   left: 0;
   width: 100%;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   /* padding: 15px; */
}

img {
   padding: 15px;
   height: auto;
   max-width: 98%;
}

a {
   padding: 15px;
}

#mainLogo {
   max-height: 72px;
   width: auto;
   float: left;
}

#headContent {
   display: -webkit-flex;
   display:         flex;
   max-width: 1500px;
   margin: auto;
   overflow: auto;
   -webkit-align-items: center;
           align-items: center;
}

#Navlink {
   padding-bottom: 36px;
   color: #d6d6d6;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 18px;
   /* border: 3px solid #2ecc71; */
}

#Navlink:hover {
   color: #c0c0c0;
   border-bottom: 5px solid white;
}

#tableEl {
   padding: 15px;
   display: table-cell;
   text-align: justify;
   vertical-align: middle;
}

#page {
   max-width: 1500px;
   margin: auto;
   margin-top: 102px;
   height: inherit;
   background-color:  #ecf0f1;
   /* border: 3px solid #2ecc71; */
}

#main {
   margin: auto;
   padding: 15px;
   text-align: justify;
   /* border: 3px solid #2ecc71; */
}

#sidebar {
   display: table-cell;
   width: 150px;
   margin: auto;
   height: auto;
   padding: 15px;
   /* border: 3px solid #2ecc71; */
}

#headshot {
   display: table-cell;
   max-width: 50%;
   height: auto;
}

#aboutTable {
   padding: 15px;
   display: table-cell;
   text-align: justify;
   vertical-align: middle;
   max-width: 500px;
}
